@font-face {
	font-family: 'Cascadia Code';
	src: url(../assets/fonts/CascadiaCode.ttf) format('truetype'),
		url(../assets/fonts/CascadiaCode-Regular.otf) format('opentype'),
		url(../assets/fonts/CascadiaCode.woff2) format('woff2');
}

*:root {
	--color-gql: #ff7bd4;
	--color-operation: #cc99cd;
	--color-response-field: #f8c555;
	--color-action: #ccc;
	--black-ribbon: #333;
}

.title {
	font-size: 8vh;
	font-weight: bold;
	text-align: center;
	font-family: 'Consolas', serif;
}

.important-keywords {
	font-family: 'Cascadia Code', 'Consolas', serif;
	background-color: #444444;
	font-weight: 500;
	color: orange;
	padding: 2px 4px 2px 4px;
	border-radius: 3px;
}

.graphql,
.graphql:hover {
	color: var(--color-gql);
	font-weight: 500;
}

.github-fork-ribbon.black::before {
	background-color: var(--black-ribbon);
}

code[class*='language-'],
pre[class*='language-'] {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;

	white-space: pre-wrap;
	line-height: 1.2;
	tab-size: 2;

	font-family: 'Cascadia Code', monospace;
	font-weight: 350;
	font-size: 0.95rem;
}

@media screen and (max-width: 919px) {
	code[class*='language-'],
	pre[class*='language-'] {
		margin: 0.5em;
	}
}
